<!-- Displaying sources -->


    {% macro display_sources(source_list) %}
    <div class="row">
    {% for source in source_list %}
    <div class="col-md-4">
    <div class="card">
        <div class="card-body">

            <h3>{{source.name}}</h3>
            <p>{{source.description}}</p>
            <p>{{source.language}}</p>
            <p>{{source.country}}</p>
            <a class='btn btn-info' href="/articles/{{source.id}}">View Articles</a>
        </div>
    </div>
</div>
    {% endfor %}
    {% endmacro %}

</div>

<!-- displaying articles -->

{% macro display_source_articles(news_updates)%}
{% for article in news_updates %}
<h3>{{article.name}}</h3>
<p>{{article.author}}</p>
<p>{{article.title}}</p>
<p>{{article.description}}</p>

<img src="{{article.urlToImage}}">
<p>{{article.publishedAt}}</p>
<p>{{article.content}}</p>
<a href="{{article.url}}"><button class="btn btn success">View all</button></a>

{% endfor %}
{% endmacro %}